@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #0B1220;
  --surface: #13243B;
  --border: #233449;
  --text: #F1F5FF;
  --muted: #C5D1E3;
  --primary: #1E4ED8;
  --accent: #2DD4BF;
}


html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  @apply antialiased;
}
